/** HEADER  */
#header-nav {
  background-color:  #999999;
  border-radius: 0;
  border: 0px;
}

.navbar-brand {
  margin-top: 15px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand h1 {
  color: black;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0.5;
}

#collapsable-nav .navbar-nav {
  margin-top: 0;
  margin-bottom:0;
}

#collapsable-nav .navbar-nav li {
  background-color: white;
  border: 1px solid black;
}

#nav-list a {
  color: black;
  text-align: center;
}

#nav-list a:hover {
  background: #E7E7E7;
}

.navbar-header button.navbar-toggle,  .navbar-header .icon-bar {
  border: 1px solid black;
}


/** END HEADER  */


.row {  
  padding-left: 20px;  
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
 } 

.menu-section {
  background-color: #999999;
  border: 1px solid black;
  margin-left: -5px;
  margin-right: -5px;
  margin-top: 10px; 
  margin-bottom: 10px;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 10px;
}

h2, h3 {
  font-size: 1.5em;
  font-weight: bold;
}

.menu-section p {
  padding-top: 15px;
  padding-left:10px;
  padding-right: 10px;
  margin: 0px;
}

.menu-section span {
  padding-left: 10px;
  padding-right: 10px;
}
